<a href="https://colab.research.google.com/github/luuloi/GWAS_Introduction_2023/blob/main/barplot_mahattanplot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
install.packages("qqman")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(ggplot2)
library(qqman)

In [7]:
# 1. Import data
data <- read.csv("https://raw.githubusercontent.com/luuloi/GWAS_Introduction_2023/main/data/StudentsPerformance.csv")

In [8]:
head(data)

  gender race.ethnicity parental.level.of.education lunch
1 female group B        bachelor's degree           standard
2 female group C        some college                standard
3 female group B        master's degree             standard
4 male   group A        associate's degree          free/reduced
5 male   group C        some college                standard
6 female group B        associate's degree          standard
  test.preparation.course math.score reading.score writing.score
1 none                    72         72            74
2 completed               69         90            88
3 none                    90         95            93
4 none                    47         57            44
5 none                    76         78            75
6 none                    71         83            78

In [9]:
## Examine the structure of the data
str(data)

'data.frame':	1000 obs. of  8 variables:
 $ gender                     : chr  "female" "female" "female" "male" ...
 $ race.ethnicity             : chr  "group B" "group C" "group B" "group A" ...
 $ parental.level.of.education: chr  "bachelor's degree" "some college" "master's degree" "associate's degree" ...
 $ lunch                      : chr  "standard" "standard" "standard" "free/reduced" ...
 $ test.preparation.course    : chr  "none" "completed" "none" "none" ...
 $ math.score                 : int  72 69 90 47 76 71 88 40 64 38 ...
 $ reading.score              : int  72 90 95 57 78 83 95 43 64 60 ...
 $ writing.score              : int  74 88 93 44 75 78 92 39 67 50 ...

In [10]:
## Check the number of columns and rows
dim(data)

[1] 1000    8

In [11]:
## Show the first 6 rows of the dataset
head(data)

  gender race.ethnicity parental.level.of.education lunch
1 female group B        bachelor's degree           standard
2 female group C        some college                standard
3 female group B        master's degree             standard
4 male   group A        associate's degree          free/reduced
5 male   group C        some college                standard
6 female group B        associate's degree          standard
  test.preparation.course math.score reading.score writing.score
1 none                    72         72            74
2 completed               69         90            88
3 none                    90         95            93
4 none                    47         57            44
5 none                    76         78            75
6 none                    71         83            78

In [12]:
## Check for NA values
table(is.na(data))

FALSE
 8000

In [13]:
## Remove rows with NA values, if any exist
data <- data[rowSums(is.na(data)) == 0, ]

## Remove columns with NA values, if any exist (This can be potentially dangerous, I commented it out. Uncomment only if necessary.)
# data <- data[, colSums(is.na(data)) == 0]